<!DOCTYPE html>
<html>
<head>
	  <%- include('../partials/adminHead.ejs')%>
    <title>Ver Productos - Terra Rossa</title>
</head>
<body>
    <!-- seccion barra de navegacion -->
    <header>
      <%- include('../partials/navAdmin')%>
    </header>
    <!-- fin seccion barra de navegacion -->

    <!-- seccion productos -->
    <main>
      <div class="admin__main">
            <%- include('../partials/sidebar')  %> 
            <section class="data__container">
                <h4>Panel de administración</h4>
                <%- include('../partials/adminContent')  %> 
                <div class="filter__container">
                    <h3>Productos</h3>
                    <ul class="filter__links">
                        <button class="admin_filter"id="1">Todos los productos</button>
                        <button class="admin_filter" id="2">Tintos</button>
                        <button class="admin_filter" id="3">Blancos</button>
                        <button class="admin_filter" id="4">Especiales</button>
                        <button class="admin_filter" id="5">Espumantes</button>
                    </ul>
                </div>
                <div class="article__scroll" id="product-container">
                  <% productos.forEach(producto => { %>
                    <article class="productsdash__container" id="article-container">
                        <div class="productdash_block">
                            <img src="/img/productImg/<%= producto.productImg %>" alt="imagen del producto">
                            <p><%= producto.productName %></p>
                            <p>$ <span><%= producto.productPrice %></span></p>
                            <p><%= producto.productStock %></p>
                        </div>
                        <div class="productdash_button">
                          <form class="form__container" method="POST" action="/product/all-products/<%= producto.idProduct%>?_method=DELETE"> 
                            <button type="submit" class="delete">eliminar</button>
                            </form>
                          <a class="update" href="/product/update-product/<%= producto.idProduct %>">actualizar</a>
                        </div>
                    </article>
                  <% }); %>
                </div>
            </section>
      </div>
      
    </main>
    <!-- fin seccion productos -->

    <footer>
      <%- include('../partials/adminfooter')  %> 
    </footer>

    <script>
      const navMenu = document.querySelector("#navMenu");
      const navToggle = document.querySelector(".nav-menu-list");

      navMenu.addEventListener("click", () => {
        navMenu.classList.toggle("active");
      });
      navMenu.addEventListener("click", () => {
        navToggle.classList.toggle("nav-menu_visible");
      });
    </script>

    <script>
      const sideMenu = document.querySelectorAll(".side__link");
      const sideToggle = document.querySelectorAll(".side__child");
      const sideIcon = document.querySelectorAll(".fa-angle-down");
      

      sideMenu.forEach(element => {
        element.addEventListener("click", (event) => {

          sideMenu.forEach((el) => {
            el.classList.remove("side__menu__focus");
          });

          const sideMenuElement = event.target;
          sideMenuElement.classList.toggle("side__menu__focus");

          if(sideMenuElement.lastChild){
            sideMenuElement.lastChild.classList.toggle("rotate");
          }
          if(sideMenuElement.nextElementSibling){
            sideMenuElement.nextElementSibling.classList.toggle("side-menu_drop");
          }

        });
      })
    </script>
<script src="/JS/searchAdmin.js"></script>
<script src="/js/navAdmin.js"></script>

</body>
</html>