<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head.ejs')%>
	<title>Catálogo - Terra Rossa</title>
</head>

<body>
  <header>
    <%- include('../partials/nav.ejs')%>
  </header>
  <% 
  const formatter = new Intl.NumberFormat("es-AR", { 
    style: "decimal",
    minimumFractionDigits: 2,
  }); 
  %>
  <section class="catalogo">
    <div class="catalogo__headertitle">
     <h1 class="catalogo__title"><strong>Catálogo</strong></h1>
    </div>
    <div class="catalogo__queries">
      <div class="container__filtro">
        <div class="container__filtro_title" id="filter"><h2>FILTROS</h2><i class="fa-solid fa-list"></i></div>        
    <div id="show">
      <ul class="filter-ul">
        <li><p class="filter-tittle">Precio</p></li>
        <div class="li-flex">
        <li class="li-not num">
            <input type="range" id="precio" min="5000" max="20000" step="5000" value="5000" list="tickmarks">
            <output id="outvol" name="outvol" for="vol">Hasta 5.000</output> 
        <datalist id="data">
          <option value="5000" class="value">
          <option value="10000" class="value">
          <option value="15000" class="value">
          <option value="20000" class="value">
        </datalist>
          
        </li>
      </div>
      </ul>
      <ul class="filter-ul" id="pri">
        <li><p class="filter-tittle">Tipo</p></li>
          <li class="li-not"><input type="checkbox" id="filterType" name="tintos" value="2"><p>Tintos</p></li>  
         <li class="li-not"><input type="checkbox" id="filterType" name="blancos" value="3"><p>Blancos</p></li>  
          <li class="li-not"><input type="checkbox" id="filterType" name="especiales" value="4"><p>Especiales</p></li>  
          <li class="li-not"><input type="checkbox" id="filterType" name="espumantes" value="5"><p>Espumantes</p></li> 
          <!-- <li class="li-not submit"><button >Buscar</button></li> -->
      </ul>
      <ul class="">
      </ul>
    </div>
      </div>
      <div class="catalogo__conteiner" id="divSearch">
        <% if (Object.keys(productos).length > 0) {%>
          <% productos.forEach(producto => { %>
            <article class="cata__products">
            <img class="cataimg__product" src="/img/productImg/<%= producto.productImg%>" alt="aqui va la foto">
            <p class="cataname__product"> <%= producto.productName %></p>
            <p class="cataprecio__product">$ <%= formatter.format(producto.productPrice)%></p>
            
              <form class="cartForm" id="<%= producto.idProduct%>" action="" method="post">
                <div class="container__buttons">
                  <button type="submit" class="add-to-cart"><i class="fa-solid fa-cart-shopping"></i></button>
                  <a class="cata__eye" id="add-item" href="/product/product-detail/<%= producto.idProduct%>" target=""><i class="fa-regular fa-eye"></i></a>
                </div>
              </form>
            </article>
          <% })   %>
        <%}else{ %>
          <div class="nav-alert">
            <h1 class=""><strong>No se encontraron resultados para su búsqueda <span>"<%=searchQuery%>"</span></strong></h1>
          </div>
        <% }%>
      </div>
    </div>
  </section>
  <footer class="footer">
    <%- include('../partials/footer.ejs')%>
  </footer>

  <script src="/js/filtroCatalogo.js"></script>
  <script src="/js/addItemToCart.js"></script>
</body>

</html>