<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/head.ejs')%>
    <title>Detalle de Producto - Terra Rossa</title>
</head>
<body>
    <!-- seccion barra de navegacion -->
    <header>
      <%- include('../partials/nav.ejs')%>
    </header>
  <!-- fin seccion barra de navegacion -->
  
  <% 
  const formatter = new Intl.NumberFormat("es-AR", { 
    style: "decimal",
    minimumFractionDigits: 2,
  }); 
  %>
   <!-- contenedor detalle de producto -->
   <div class="container__pd">
    <div class="pd__section">
        <div class="pd__img" id="zoomC">
        </div>
        <div class="pd_center">
          <article class="pd__info">
            <h2><%= coincidencia.nombre_producto%></h2> <span></span>
            <p><span>AÑO COSECHA: </span> <%= coincidencia.anio_cosecha%>, <span> VARIEDAD: </span> <%= coincidencia.variedad%>, <span> CRIANZA: </span> <%= coincidencia.crianza%>, <span> POTENCIAL DE GUARDA: </span> <%= coincidencia.potencial_guarda%>.</p>
            <h3>NOTAS DE CATA</h3>
            <p><%= coincidencia.nota_cata%></p>
          </article>
            
            <form class="pd_buysection">
                <p><span>$ <%= formatter.format(coincidencia.precio)%></span></p>
                <!-- seleccion de producto- incremento y decremento -->
                <div>
                  <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                  <input type="number" id="number" value="0" />
                  <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
                </div>
                <!-- fin seleccion de producto- incremento y decremento -->
                <div class="cart__btn">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <a href="#">agregar al carrito</a>
                </div>
            </form>
        </div>
    </div>
  </div>
  <!-- fin del contenedor detalle de producto -->

  <!-- footer -->
    <footer class="footer">
      <%- include('../partials/footer.ejs')%>
    </footer>
  <!--  finfooter -->
</body>
</html>