<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs')%>
    <title>Carrito de Compras - Terra Rossa</title>
  </head>
  <body>
    <!-- seccion barra de navegacion -->
    <header>
      <%- include('../partials/nav.ejs')%>
    </header>
    <!-- fin seccion barra de navegacion -->
    <% 
  const formatter = new Intl.NumberFormat("es-AR", { 
    style: "decimal",
    minimumFractionDigits: 2,
  }); 
  %>
    <!-- carrito de compras -->
    <section class="margin__nav">
      <h1 class="cart__title">carrito</h1>
      <div class="itemlist__container">
        <div class="cart__section">
          <div class="cart__header">
            <p>producto</p>
            <p>precio</p>
            <p>cantidad</p>
          </div>
           <!-- aca empieza -->
           <% if(Array.isArray(carritoFinal) && carritoFinal.length){%>
            <% carritoFinal.forEach(producto => { %>
            <div class="cart__product">
              <img src="/img/productImg/<%= producto.imagen_producto%>" alt="imagen preview del producto" />
              <div class="cart__productdetail">
                <p><span><%=producto.nombre_producto%></span></p>
                <div class="cart__buttons">
                  <p>$<%= formatter.format(producto.precio)%></p>
                  <div>
                    <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                    <input type="number" id="number" value="<%=producto.cantidad%>" name="cantidad"/>
                    <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
                  </div>
                  <form method="POST" action="/product/product-cart/<%=producto.id_producto%>?_method=DELETE">
                  <button type="submit"><i class="fa-regular fa-trash-can"></i></button>
                  </form>
                </div>
              </div>
            </div>
            <% })%> 
          <%} else{%>
            <div class="cart__productdetail cart__empty">
              <p>No hay productos en tu carrito de compras :c</p>
            </div>
          <%}%>
        </div>
        <!-- aca termina -->
        <div class="cart__section--media">
          <div class="cart__minisection">
            <p>¿Tenés un código de descuento?</p>
            <div class="cart__code">
              <form action="">
                <input type="text" maxlength="8" value="Ingrese su código" />
              </form>
              <a class="cart__btn--checkout" href="">aplicar</a>
            </div>
          </div>
          <div class="cart__minisection">
            <div class="container__total">
              <div class="total__detail">
                <p>subtotal:</p>
                  <p>$ 00,00</p>
              </div>
              <div class="total__detail">
                <p><span>total:</span></p>
                <div>
                  <p>$ 00,00</p>
                  <div class="total__message">
                    <p>iva no incluido</p>
                  </div>
                </div>
              </div>
              <a class="cart__btn--checkout" href="/product/checkout">finalizar compra</a>
              <a class="cart__btn--checkout" href="/product/catalogue">seguir comprando</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- fin carrito de compras -->
    <footer class="footer">
      <%- include('../partials/footer.ejs')%>
    </footer>
  </body>
</html>
