<nav class="nav-bar">
  <a href="/"><img class="logo" src="/img/logo-w.png" /></a>
  <div id="navMenu" class="nav-hamburguer">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="nav-menu-list">
    <li class="nav-menu-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-menu-item">
      <a class="nav-link" href=/product/catalogue>Catálogo</a>
    </li>
    <li class="nav-menu-item">
      <a class="nav-link" href="/content/all_blogs">Blog</a>
    </li>
    <!-- <li class="nav-menu-item">
        <a class="nav-link" href="/content/contact">Contacto</a>
      </li> -->
    <div class="icon-2">
      <li class="nav-menu-item">
        <div class="search-area nav-link">
          <form action="/product/busqueda" method="GET" id="searchForm">
            <input type="text" name="searchValue" id="search-input" placeholder="¿Que deseas buscar?...">
          </form>
          <div id="sign">
            <i id="search-icon" class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
      </li>
      
      <li class="nav-menu-item">
        <a class="nav-link" href="/product/product-cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
      <li class="nav-menu-item with-submenu">
        <div class="user-submenu"> <% if (user) { %>
          <img src='/img/profileImages/<%=user.userImg%>' class='imgRedonda' />
        <% }else{%> <i class="fa-solid fa-user"></i><%}%><% if (user) { %>
          <%= user.firstName %>  
        <% }else{%>
        <%= 'User'%><%}%><i class="fa fa-caret-down"></i></div>
        <ul class="submenu">
          <% if(user){ %>
            <% if (user.idUserCategory === 1) { %>
              <li><a class="nav-link" href="/users/edit-user/<%= user.userId%>">Editar Perfil</a></li>
              <li><a class="nav-link" href="/users/admin">Administración</a></li>
              <li><a class="nav-link" href="/users/logout">Cerrar Sesion</a></li>
            <% }else if(user.idUserCategory === 2){ %>
              <li><a class="nav-link" href="/users/edit-user/<%= user.userId%>">Editar Perfil</a></li>
              <li><a class="nav-link" href="/users/logout">Cerrar Sesion</a></li>
            <%}%>
            <%}else{%> 
          <li><a class="nav-link" href="/users/login">Iniciar Sesion</a></li>
          <li><a class="nav-link" href="/users/register">Registrarme</a></li>
          <%}%>
        </ul>
      </li>
      <!-- <li class="nav-menu-item admin-icon">
        <a class="nav-link" href="/users/admin"><i class="fa-solid fa-address-card"></i></a>
      </li> -->
    </div>
  </ul>
</nav>