<!DOCTYPE html>
<html>
<head>
	  <%- include('../partials/adminHead.ejs')%>
    <title>Editar permisos - Terra Rossa</title>
</head>
<body>
    <!-- seccion barra de navegacion -->
    <header>
      <%- include('../partials/navAdmin')%>
    </header>
    <!-- fin seccion barra de navegacion -->

    <!-- seccion productos -->
    <main>
      <div class="admin__main">
             <%- include('../partials/sidebar')  %> 
            <section class="data__container">
                <h4>Panel de administración</h4>
                <%- include('../partials/adminContent')  %> 
                <div class="filter__container">
                    <h3 class="new__product__tittle">Editar Permisos</h3>
                    
                </div>
                <form class="form__perm" method="POST" action="/users/edit-permissions/?_method=PUT" enctype="multipart/form-data">
                  <input type="hidden" name="id" value="<%= user.userId%>">  
                  <div>
                        <div class="">
                            <div class="">
                                <div class="user__perm__container">
                                  <div class="user__perm__data">
                                    <img src="/img/profileImages/<%= user.userImg%>" alt="">
                                  </div>
                                  <div class="user__perm__data">
                                    <div class="user__perm__row">
                                      <p><span>Nombre: </span></p>
                                      <p><%= user.firstName%></p>
                                    </div>
                                    <div class="user__perm__row">
                                      <p><span>Email: </span></p>
                                      <p><%= user.userEmail%></p>
                                    </div>
                                    <div class="user__perm__row">
                                      <p><span>Permisos: </span></p>
                                      <% categories.forEach(category => { %>
                                        <% if(category.idUserCategory == user.idUserCategory) { %>
                                          <p><%= category.userCategoryName %></p>
                                          <% } %>
                                        <% }); %>
                                      
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="new__prod__ind new__user__ind">
                                <label for="permisos">Permisos</label>
                                <select name="permisos">
                                  <% categories.forEach(category => { %>
                                    <% if(category.idUserCategory == user.idUserCategory) { %>
                                      <option selected value="<%= category.idUserCategory %>"><%= category.userCategoryName %></option>
                                      <% }else { %>
                                      <option value="<%= category.idUserCategory %>"><%= category.userCategoryName %></option>
                                      <% }%>
                                    <% }); %>
                                </select>
                            </div>
                        </div>

                        <div>
                            <div class="new__prod__ind" id="newbuttons">
                                <a id="cancel" type="button" href="/users/admin">Cancelar</a>
                                <input id="create" type="submit" value="Actualizar Permisos">
                            </div>
                        </div>
                    </div>
                </form>
            </section>
      </div>
      
    </main>
    <!-- fin seccion productos -->

    <footer>
      <%- include('../partials/adminfooter')  %> 
    </footer>

    <script>
      const navMenu = document.querySelector("#navMenu");
      const navToggle = document.querySelector(".nav-menu-list");

      navMenu.addEventListener("click", () => {
        navMenu.classList.toggle("active");
      });
      navMenu.addEventListener("click", () => {
        navToggle.classList.toggle("nav-menu_visible");
      });
    </script>

    <!-- Dashboard -->
    <script>
      const sideMenu = document.querySelectorAll(".side__link");
      const sideToggle = document.querySelectorAll(".side__child");
      const sideIcon = document.querySelectorAll(".fa-angle-down");+

      sideMenu.forEach(element => {
        element.addEventListener("click", (event) => {

          sideMenu.forEach((el) => {
            el.classList.remove("side__menu__focus");
          });

          const sideMenuElement = event.target;
          sideMenuElement.classList.toggle("side__menu__focus");

          if(sideMenuElement.lastChild){
            sideMenuElement.lastChild.classList.toggle("rotate");
          }
          if(sideMenuElement.nextElementSibling){
            sideMenuElement.nextElementSibling.classList.toggle("side-menu_drop");
          }

        });
      })
    
    </script>

   
</body>
</html>